.word-a {
    text-decoration: none;
    background-color: white;
    display: inline-block;
    padding: 2px 4px;
    margin: 4px 2px;
}

.word-a:hover {
    box-shadow: 0px 0px 4px grey;
    text-decoration: none;
    z-index: 99;
}

.word-a:focus {
    text-decoration: none;
}

.alternative-a {
    text-decoration: none;
    background-color: white;
    display: inline-block;
    padding: 2px 6px;
}

.alternative-a:hover {
    box-shadow: 0px 0px 4px grey;
    text-decoration: none;
    z-index: 99;
}

.alternative-a:focus {
    text-decoration: none;
}

.alternatives-div {
    position: absolute;
    box-shadow: 0px 0px 4px grey;
}

#container {
    width: 45%;
    min-height: 600px;
    position: relative;
    /*border: 1px solid grey;*/
    padding: 12px 12px;
    /*box-shadow: 4px 4px 4px grey;*/
    float: left;
    margin-left: 10px;
    overflow-y: scroll;
}

#textarea-result {
    width: 45%;
    min-height: 600px;
    /*border: 1px solid grey;*/
    padding: 12px 12px;
    /*box-shadow: 4px 4px 4px grey;*/
    float: left;
    margin-left: 10px;

    resize: none;
}

#button-transcript {
    display: inline-block;
    width: 200px;
}

#div-button {
    vertical-align: middle;
    margin-top: 30px;
}

#td-left {
    width: 20%;
    vertical-align: top;
}

td {
    padding: 10px;
}

label {
    margin-top: 10px;
}