.cottage-a {
    text-decoration: none;
    background-color: white;
    /*display: inline-block;*/
    padding: 2px 4px;
    margin: 4px 2px;
}

.cottage-a:hover {
    box-shadow: 0px 0px 4px grey;
    text-decoration: none;
    z-index: 99;
}

.cottage-a:focus {
    text-decoration: none;
}

.alternative-a {
    text-decoration: none;
    background-color: white;
    display: inline-block;
    padding: 2px 6px;
}

#result {
    width: 100%;
    /*!*min-height: 600px;*!*/
    /*position: relative;*/
    /*!*border: 1px solid grey;*!*/
    /*padding: 12px 12px;*/
    /*!*box-shadow: 4px 4px 4px grey;*!*/
    /*float: left;*/
    /*margin-left: 10px;*/
    /*!*overflow-y: scroll;*!*/
}

#textarea-result {
    /*width: 45%;*/
    /*min-height: 600px;*/
    /*border: 1px solid grey;*/
    /*padding: 12px 12px;*/
    /*box-shadow: 4px 4px 4px grey;*/
    /*float: left;*/
    /*margin-left: 10px;*/

    resize: none;
}

#button-transcript {
    display: inline-block;
    width: 200px;
}

#div-button {
    vertical-align: middle;
    margin-top: 30px;
}

#td-left {
    width: 25%;
    vertical-align: top;
}

/* restrict container width */
.container {
    width: 100%;
}

td {
    padding: 10px;
}

label {
    margin-top: 10px;
}

ul {
    padding-left: 18px;
}

.thumbnail .row .col-md-6 img {
    width: 100%;
}